version: '3.3'
services:
  mysql:
    image: mysql:5.7
    container_name: db-for-go
    platform: linux/amd64
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --sql-mode=ONLY_FULL_GROUP_BY,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
    environment:
      # ハードコーディングは危ないので環境変数で設定する
      MYSQL_ROOT_USER: ${ROOTUSER}
      MYSQL_ROOT_PASSWORD: ${ROOTPASS}
      MYSQL_DATABASE: ${DATABASE}
      MYSQL_USER: ${USERNAME}
      MYSQL_PASSWORD: ${USERPASS}
      TZ: 'Asia/Tokyo'
    ports:
      - "3306:3306"
      # コンテナの3306ポートをローカルの3306ポートにマッピング
    volumes:
      - db-volume:/var/lib/mysql
      # コンテナ内のMySQLデータを永続化するためのボリューム
volumes:
  db-volume: